@keyframes ldio-003oavq6ncsbr {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
}

.ldio-003oavq6ncsbr div {
    position: absolute;
    animation: ldio-003oavq6ncsbr 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4.6px 0 0 #3c0f0f;
    transform-origin: 80px 82.3px;
}

.loadingio-spinner-eclipse-s4t1c6u009 {
    width: 200px;
    height: 200px;
    /* display: inline-block; */
    overflow: hidden;
    background: #fff;
    margin: 0 auto;
}

.ldio-003oavq6ncsbr {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-003oavq6ncsbr div { 
    box-sizing: content-box;
}
